node_modules
local.env
*.env
.DS_store
insurer industry mapping files

# Coverage and Unit Test Reports #
####################
coverage/
.nyc_output/
mochawesome-report/
/localfunctiontest.js
/loadmessagesinmongo.js
/datafix-populate-clear-fields.js
/loadagencynetworkadditionalInfo.js
/loadtestmysql.js
/setAgencyNotifyTalage.js
*.DS_Store
/dataloadreportmartapp.js
/add-agency-network-additionalInfo-customEmail.js
/loadagencyportalusergroupsinmongo.js
/pull-email-list.js
/userGroupPermissionsAddingTalageStaff.js
/testrun_bp_appquoting.js
