# -----------------------------------------------------------------------------
# Runtime profile
# -----------------------------------------------------------------------------
# test, local, development, awsdev, staging, production
ENV=
BRAND=
CONSOLE_LOGLEVEL=

# -----------------------------------------------------------------------------
# Public URLs
# -----------------------------------------------------------------------------
SITE_URL=
PORTAL_URL=
API_URL=
DIGALENT_AGENTS_URL=
DIGALENT_SITE_URL=
TALAGE_AGENTS_URL=
APPLICATION_URL=

# -----------------------------------------------------------------------------
# Internal Credentials
# -----------------------------------------------------------------------------
AUTH_SECRET_KEY=
ENCRYPTION_KEY=
SALT=
SECRET=
TEST_API_TOKEN=

# -----------------------------------------------------------------------------
# AWS
# -----------------------------------------------------------------------------
AWS_KEY=
AWS_REGION=
AWS_SECRET=
AWS_USE_KEYS=YES

# -----------------------------------------------------------------------------
# Elasticsearch
# -----------------------------------------------------------------------------
AWS_LOG_TO_AWS_ELASTICSEARCH=
AWS_ELASTICSEARCH_ENDPOINT=
AWS_ELASTICSEARCH_LOGLEVEL=

# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
DATABASE_USER=
DATABASE_HOST=
DATABASE_PASSWORD=
DATABASE_NAME=

DATABASE_PREFIX=
DATABASE_WEBSITE_PREFIX=

# -----------------------------------------------------------------------------
# API Server
# -----------------------------------------------------------------------------
PUBLIC_API_PORT=
PRIVATE_API_PORT=
UPTIME_PORT=

# -----------------------------------------------------------------------------
# S3
# -----------------------------------------------------------------------------
S3_BUCKET=
S3_SECURE_BUCKET=

# -----------------------------------------------------------------------------
# Sendgrid
# -----------------------------------------------------------------------------
SENDGRID_API_KEY=

# -----------------------------------------------------------------------------
# AWS Simple Queue Service
# -----------------------------------------------------------------------------
SQS_TASK_QUEUE=

# -----------------------------------------------------------------------------
# Mongo
# -----------------------------------------------------------------------------
USE_MONGO = "NO"
# user mongodb+svr for cluster connection
MONGODB_CONNECTIONURL ="mongodb://username:password@localhost:27017/"
# MONGODB_CONNECTIONURLQUERY only required for Altas connection
# MONGODB_CONNECTIONURLQUERY = "?retryWrites=true&w=majority"
MONGODB_DATABASENAME ="dbname"

# -----------------------------------------------------------------------------
# Runtime settings. Defaults are shown.
# -----------------------------------------------------------------------------

# For endpoint /v1/quote/agency/social-metadata, if no agency/page slug can be found in in the passed-in
# URL, this will be the default agency slug.
# DEFAULT_QUOTE_AGENCY_SLUG="talage"

# Enable to bypass the application age check when running quotes. Only works in 'development' environment.
# APPLICATION_AGE_CHECK_BYPASS="NO"

# Agency portal JWT expiration time
# JWT_TOKEN_EXPIRATION="15h"

# Override the email address
# OVERRIDE_EMAIL="NO"
# TEST_EMAIL=""

